.top-navbar {
    font-family:$base-font-family;
    font-weight: bold;
    text-align: center;
    height: 110px;
    margin-bottom: 110px;
    margin-top: -5px;

    a {
      display: inline-block;
      color: $text-color;
      padding: 50px 15px 20px;
      margin-right: 0px;

      text-transform: uppercase;
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid lighten($text-color, 10%);


      font-size: 1em;
      line-height: 8px;
      writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      -webkit-text-orientation: upright;

      &:hover {
        color: $alt-color;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out .3s;
        transform: translateY(1px);
      }



      }
    }


  .post::after {
            background: url(../img/separator.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-color: transparent;
            content: "";
            width: 100%;
            max-width: 596px;
            height: 42px;
            display: block;
            margin: 20px auto 50px;


            // Force background size to remain constant and not scale down
            background-size: 596px !important;

            @media only screen and (min-width: 645px) {
                margin-top: 5px;
            }
        }

        .post-title {
            font-family: $title-font-family;
            display: block;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            line-height: 1.4;

            // Force default text colour [as post-header is wrapped by a link]
            color: $text-color;

            @media only screen and (min-width: 24px / 0.05) {
                font-size: 5vw;
            }

            @media only screen and (min-width: $desktop-breakpoint) {
                font-size: 42px;
            }
        }

        .post-date {
            display: block;
            text-align: center;
            color: $text-color;
            margin: 15px 0 40px;
        }

        .post-image {
            margin-bottom: 25px;
            margin-top: 30px;

            // Prevent any whitespace positioning issues
            font-size: 0;

            img,
            video{
                width: 100%;
                max-width: 100%;
                height: auto;
            }

            & + .post-image {
                margin-top: -5px;
            }

            & + p {
                margin-top: 35px;
            }
        }


        .archive{
            margin: 60px 0 100px 0;

            ul{
                margin: 0 0 15px 0;
                padding: 0;
                list-style: none;

                li{
                    padding: 10px 15px 10px;
                    a{
                        color: $text-color;
                        padding-bottom: 1px;
                        border-bottom: 1px dashed transparent;
                        &:hover {
                          border-bottom: 1px dashed lighten($alt-color, 10%);
                          transition: all ease-in-out .3s;
                        }
                     }

                    .date{
                        float:right;
                        margin-left: 8px;
                        text-align: right;
                    }
                }
            }
        }


#footer {
    margin-top: 50px;
    text-align: center;
    color: #818181;
    font-size: 0.8em;



    a {
        // Overwrite default link color
        color: #818181;

        &:hover {
            // ... but allow the hover color to work as normal
            color: #795f39;
        }

    }

    p {
        margin: 0 0 9px;
        line-height: 1;
        font-size: 0.8em;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

section[role="main"] {
    width: 85%;
    margin: 0 auto;

    @media only screen and ($desktop-breakpoint) {
        width: $layout-width;
    }
}
