/*! layout */

//"mixins/clearfix",

  @mixin clearfix {
      &:after {
          content: "";
          display: table;
          clear: both;
      }
  }


//  "mixins/breakpoints"
@mixin min-breakpoint($point) {
    @media only screen and (min-width: $point) {
        @content;
    }
}

@mixin max-breakpoint($point) {
    @media only screen and (max-width: $point) {
        @content;
    }
}


  .top-navbar {
    font-family:$base-font-family;
    font-weight: bold;
    text-align: center;
    margin-bottom: 110px;
    height: 110px;
    margin-top: -10px;


    a {
      display: inline-block;
      color: $text-color;
      padding: 40px 15px 25px;
      margin-right: 0px;


      text-transform: uppercase;
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid lighten($text-color, 10%);
      transition: all ease-in-out .3s;

      font-size: 1.2em;
      line-height: 13px;
    //  float: left;
      writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      -webkit-text-orientation: upright;

      &:hover {
        color: #f7f3ee;
        border-bottom: none;
        background-color: $text-color;
        transform: translateY(5px);
      }

      &:after {content: none;}

    }
  }



#banner {
    //@include retina-background-image($img-banner);
    background: url(../img/banner.png);
    background-color: #8e8387;
    outline: none;
    display: block;
    width: $banner-width;
    height: $banner-height;
    margin: 0 auto 35px;
    position: relative; /* To ensure the bottom border is positioned correctly */

    h1 {
        // Font is included from Google Fonts automatically unless a custom banner is used
        // See _config.yml for details
        font-family: $banner-font-family;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.03em;
        color: #fefefe;
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    &::after {
        display: block;
        position: absolute;
        top: $banner-height;
        left: $banner-border-offset;
        content: "";
        background: #443E40;
        height: $banner-border-width;
        width: $banner-width - ($banner-border-offset* 2);
    }

    @include min-breakpoint($image-splitting-breakpoint) {
        margin-bottom: $banner-margin;
    }
}

#footer {
    margin-top: 50px;
    text-align: center;
    color: #818181;
    font-size: 10.5pt;

  /*  &::after {
    //    @include retina-background-image($img-dude);
        background: url(../img/dude.png);
        display: block;
        content: "";
        width: 65px;
        height: 158px;
        margin: 20px auto 50px;
    }*/

    a {
        // Overwrite default link color
        color: #795f39;

        &:hover {
            // ... but allow the hover color to work as normal
            color: $alt-color;
        }
    }

    p {
        margin: 0 0 9px;
        line-height: 1;
        font-size: 10.5pt;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;

        @include min-breakpoint($image-splitting-breakpoint) {
            font-size: 14px;
            line-height: 1;
        }
    }
}

section[role="main"] {
    width: 80%;
    margin: 0 auto;

    @include min-breakpoint($desktop-breakpoint) {
        width: $layout-width;
    }
}


section[class="categories"]{padding: 32px 0;}

section[class="archive"]{
  border-top: 1px solid rgba(222,207,186,0.5);
  padding: 32px 0;
}
